<div fxLayout="column" fxFlexFill fxLayoutAlign="start stretch" class="dnk-side-nav-container">
	
	<div fxFlex="25" fxLayout="column" fxLayoutAlign="center center">

		<mat-toolbar fxLayout="column" fxLayoutAlign="center center" class="dnk-side-toolbar">

			<div class="mat-display-1 title"> Aadhya </div>

		</mat-toolbar>
		

		<img src="../../assets/images/avatars/dnk-avatar.jpg" class="avatar-big">

	</div>


	<div>


<mat-nav-list>


   <mat-list-item role="listitem">Item 1</mat-list-item>
  <mat-list-item role="listitem">Item 2</mat-list-item>
  <mat-list-item role="listitem">Item 3</mat-list-item>
   
</mat-nav-list>


		
	</div>
</div>
