<div fxLayout="column" fxLayoutAlign="space-around stretch" class="dnk-social-card mat-elevation-z4">

	<div fxFlex="35" class="social-header">
		<img src="../../../assets/images/avatars/dnk-avatar.jpg">
	</div>
	<div  fxFlex="50" fxLayout="column" fxLayoutAlign="center center" class="dnk-social-card" class="social-content">
		<h3  class="mat-title name">Allison Grayce</h3>
		<span  class="mat-caption title">UI/UX Designer</span>
		<button mat-raised-button class="connect">Connect</button>
	</div>
	<mat-divider></mat-divider>
	<div fxFlex="15" fxLayout="row" fxLayoutAlign="space-around center" class="social-footer">
		<div fxLayout="column" fxLayoutAlign="center center">
			
			<h3 class="mat-body-1">250</h3> 
			<h4 class="mat-caption">posts</h4>
		</div>
		<div fxLayout="column" fxLayoutAlign="center center">
			 
			<h3 class="mat-body-1">1 million </h3> 
			<h4 class="mat-caption">followers</h4>

		</div>
		<div fxLayout="column" fxLayoutAlign="center center">
			 
			<h3 class="mat-body-1">267</h3> 
			<h4 class="mat-caption">following</h4>

		</div>
	</div>
	
</div>

