@import '~@angular/material/theming';

/*override mat-light-theme */
$mat-light-theme-background: (
  status-bar: map_get($mat-grey, 300),
  app-bar:    map_get($mat-grey, 100),
  background: white,
  hover:      rgba(14,169,154, 1), // TODO(kara): check style with Material Design UX
  card:       white,
  dialog:     white,
  disabled-button: $black-12-opacity,
  raised-button: white,
  focused-button: $black-6-opacity,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200),
);

@include mat-core();

/* colors */
$primary : $mat-teal;
$accent  : $mat-orange;
$warn    : $mat-red;
$toolbar-font-color : white;


/* dnk color pallet */
$dnk-theme-primary: mat-palette($primary);
$dnk-theme-accent: mat-palette($accent, A200, A100, A400);
$dnk-theme-warn: mat-palette($warn);

/* create dnk theme */
$dnk-theme: mat-light-theme($dnk-theme-primary, $dnk-theme-accent, $dnk-theme-warn);

/* applay theme */
@include angular-material-theme($dnk-theme);


/* style components */

@import '~app/core/sidemenu/sidemenu.component.scss';

dnk-sidemenu {
	$dnk-sidemenu-primary: mat-palette($primary, 400);
	$dnk-sidemenu-accent: mat-palette($accent, 900);
	$dnk-sidemenu-warn: mat-palette($warn);
	$dnk-sidemenu-theme: mat-dark-theme($dnk-sidemenu-primary, $dnk-sidemenu-accent, $dnk-sidemenu-warn);
	@include mat-list-theme($dnk-sidemenu-theme);
    $dnk-sidemenu-bg-image: '/assets/images/backgrounds/sidemenu.jpg';
	@include sidemenu($dnk-theme, $dnk-sidemenu-bg-image);

}

@import '~app/core/sidemenu/sidemenu-item/sidemenu-item.component.scss';

dnk-sidemenu-item{
    $icon-size: 22px;
    $font-size: 12px;
    @include sidemenu-item($dnk-theme, $icon-size, $font-size)
}

@import '~app/admin/admin.component.scss';
dnk-admin {
    $dnk-sidemenu-bg-image: '/assets/images/backgrounds/sidemenu.jpg';
    @include admin($dnk-theme, $dnk-sidemenu-bg-image, $toolbar-font-color);
}