@import '~@angular/material/theming';

/*override mat-light-theme */
$mat-light-theme-background: (
  status-bar: map_get($mat-grey, 300),
  app-bar:    map_get($mat-grey, 100),
  background: white,
  hover:      rgba(14,169,154, 1), // TODO(kara): check style with Material Design UX
  card:       white,
  dialog:     white,
  disabled-button: $black-12-opacity,
  raised-button: white,
  focused-button: $black-6-opacity,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200),
);

@include mat-core();

/* colors */
$primary : $mat-teal;
$accent  : $mat-blue;
$warn    : $mat-red;


/* dnk color pallet */
$dnk-theme-primary: mat-palette($primary);
$dnk-theme-accent: mat-palette($accent, A200, A100, A400);
$dnk-theme-warn: mat-palette($warn);

/* create dnk theme */
$dnk-theme: mat-light-theme($dnk-theme-primary, $dnk-theme-accent, $dnk-theme-warn);

/* applay theme */
@include angular-material-theme($dnk-theme);


/* style components */

@import '~app/core/sidemenu/sidemenu.component.scss';

dnk-sidemenu {
	$dnk-sidemenu-primary: mat-palette($primary, 400);
	$dnk-sidemenu-accent: mat-palette($accent, 900);
	$dnk-sidemenu-warn: mat-palette($warn);
	$dnk-sidemenu-theme: mat-light-theme($dnk-sidemenu-primary, $dnk-sidemenu-accent, $dnk-sidemenu-warn);
	@include mat-list-theme($dnk-sidemenu-theme);
	@include sidemenu($dnk-theme);

}

@import '~app/core/sidemenu/sidemenu-item/sidemenu-item.component.scss';

dnk-sidemenu-item{
    @include sidemenu-item($dnk-theme, 20px, 12px)
}