<mat-sidenav-container  fullscreen  >
	<mat-sidenav   mode="side" #sidenav opened="true">
        
        <dnk-sidemenu></dnk-sidemenu>

    </mat-sidenav>

    <mat-sidenav-content>

    	
        <div class="dnk-main-toolbar">
            <mat-toolbar class="dnk-main-toolbar-content">
                <button mat-icon-button (click)="sidenav.toggle();">
                    <mat-icon>menu</mat-icon>
                </button>
            </mat-toolbar>
        </div> 
        


        <perfect-scrollbar>

        </perfect-scrollbar>

    </mat-sidenav-content>

</mat-sidenav-container>

