<div fxLayout="column" [ngStyle]="{'height': height}" class="dnk-weather-card mat-elevation-z4">
	<div class="weather-card-content"  fxFlex="85" fxLayout="column"  fxLayoutAlign="center center"> 

		<mat-icon>cloud_off</mat-icon>
		<h3 class="mat-display-2 unit">70F</h3>
		<h3 class="mat-display-2">London</h3>
		<h3 class="mat-title">Cloudy</h3>

	</div>
	<div class="weather-card-footer" fxFlex="15" fxLayout="row" fxLayoutAlign="center center"> 
		<div fxLayout="column" fxFlex="50"  fxLayoutAlign="center start">
			<h3 class="mat-title">Sunday</h3>
			<h3 class="mat-caption">12/12/17</h3>
		</div>
		<div fxLayout="column" fxFlex="50"  fxLayoutAlign="center end">
			<!-- <h3 class="mat-title">Sunday</h3>
			<h3 class="mat-title">Sunday</h3> -->
		</div>
	</div>
</div>